body {
    margin: 0;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #fdfdfd;
}
.page header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: lightblue;
}
.page section {
    display: flex;
    flex-grow: 1;
    min-height: 400px;
}
.menu {
    position: absolute;
    text-align: center;
    background-color: white;
    right: 100%;
    width: 300px;
    min-height: 100vh;
    opacity: 0.8;
    z-index: 50;
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
body.menu-visible .menu  {
    transform: translateX(100%);
}
.page section aside {
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    text-align: center;
    right: 0;
    opacity: 1;
    width: 100px;
    height: 330px;
    transition: all 0.5s ease;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.page section aside.pages {
    margin: 0;
    position: fixed;
    top: 23%;
    transform: translateY(-90%);
    background-color: white;
    text-align: center;
    right: 0;
    opacity: 1;
    width: 100px;
    height: 80px;
    transition: all 0.5s ease;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.small-text{
    font-size: 14px;
    }
.hide{
    display: none;
}
.count{
    font-size: 23px;
    margin-top: 5px;
}
.arrow{
    color: #4691f6;
    margin: 5px;
    border-radius: 20px;
}
.arrow:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.add-new-page:hover + .hide{
    display: block;
    color: gray;
}

.page footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: gray;
}

aside input[type=text]{
    margin: 5px;
    border-radius: 50%;
}

.p-colorpicker-panel{
    background: white;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px
}
input[type=range] {
    -webkit-appearance: none;
    width: 80%;
    height: 5px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range] :hover {
    opacity: 1;
}

input[type=range] ::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4691f6;
    cursor: pointer;
}

input[type=range] ::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4691f6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4691f6;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover{
    width: 17px;
    height: 17px;
    transition: all 0.1s linear;
}

input[type=range]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #4691f6;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb:hover{
    width: 17px;
    height: 17px;
    transition: all 0.1s linear;
}
.circle{
    margin-top: 10px;
    width: 30px;
    height: 1px;
    border-radius: 10px;
    background-color: black;
}
.circle-holder{
    height: 15px
}
hr{
    width: 75%;
    margin-top: 10px;
    height: 3px;
    border-radius: 10px;
    background-color: whitesmoke;
}
hr.below-thickness {
    margin-top: 10px;
    margin-bottom: 10px;
}
.svg-icon-undo:hover,
.svg-icon-redo:hover,
.svg-icon-pen:hover,
.svg-icon-eraser:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
}
.svg-icon-undo,
.svg-icon-redo{
    min-width: 2em;
    height: 2em;
    margin-right: 0.3em;
    margin-left: 0.3em;
    border-radius: 10px;

}
.svg-icon-eraser{
    min-width: 2em;
    height: 2em;
    margin-right: 0.3em;
    margin-left: 0.1em;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 3px;
}
.svg-icon-pen{
    min-width: 2em;
    height: 2em;
    margin-right: 0.3em;
    margin-left: 0.7em;
    border-radius: 10px;
    padding-left: 5px;
    padding-top: 3px;
}
.highlighted{
    background-color: rgba(211, 211, 211, 0.5);
}
.colorPicker{
    display: inline;
}
.heavy {
    font: bold 30px sans-serif;
}