canvas{
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
canvas:hover{
    cursor: crosshair;
}
#input-text{
    border: dashed;
    background-color: transparent;

}
#input-text:focus{
    outline: none;
    background-color: transparent;
}
.info{
    position: absolute;
    top:  150px;
    left:  150px;
    border-radius: 25px;
    padding: 10px;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: all 1s linear;
    z-index: 0;
}
.info:before{
    content: "\2139";
    color: gray;
}
@media only screen and (max-width: 1000px) {

    .page section aside.close-notebook{
        font-size: 12px;
        border-radius: 0 0 30px 30px;;
        top: 43px;
        right: -5px;
        height: 23px;
        margin-right: 5px;
        width: 85px;
    }
    .close-text{
        height: 20px;
    }
    .page section aside.pages{
        top: 98%;
        width: 20%;
        height: 100px;
        left: 2%;
    }
    p.count{
        margin-top: 10px;
        font-size: 30px;
        line-height: 1;
    }
    p.small-text{
        font-size: 10px;
    }
    .add-new-page{
        margin-top: 10px;
        height: 2em;
    }
    .page section aside{
        top: 93%;
        height: 100px;
        width: 70%;
        right: 2%;
    }
    .page section aside hr{
        display: none;
    }
    .colorPicker2,
    .colorPicker3,
    .colorPicker4{
        display: none;
    }
    input[type="range"]{
        width: 50px;
    }
    .circle-holder{
        display: none;
    }
}